@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


body { 
	font-family: 'Lato', Calibri, Arial, sans-serif; 
 	color: #424444; 
 	background: #f9f9f9;
    padding: 0;
    margin: 0;
 } 

a { 
 	color: #f9f9f9; 
 	text-decoration: none; 
 } 
#header{
    width:100%;
    border-bottom:8px solid #4CC4EE;
}
#headerinner {
    color: #424444;
    font-size : 45px;
    margin : 0px auto;
    padding: 10px 0;
    width:1200px;
    height:80px;
    position:relative;
   
}
#headerinner>h2{
    position: relative;
    top:33px;
    left:0;
    font-weight:bold;
}
#headerinner a{
    height: 20%;
    color: #4CC4EE;
    font-size : 50px;
}

#header a:hover {
   color:#166BA3;
   opacity : 0.8;
}

#nav  {
    position: absolute;
    top:77px;
    right:10px;
    font-size : 14px;
    color :#89867e; 
}

#nav a {
    font-size : 14px;
    color :#89867e; 
    word-spacing: 1.0em;
}

#nav a:hover {
   color:#166BA3;
   opacity : 0.8;
   font-weight: 600;
}

#section{
    width:1200px;
    height:820px;
    margin-left:15%;
    text-align:center;
  /*   background-color : lightgray;
    border: 1px solid red; */
  }

/*약관 동의 글씨 디자인*/
#section h1{
	margin-top:30px;
	color: #166BA3;
	font-weight:600;
}

#section h2{
	font-size:15px;
	text-align:center;
}

/*약관 동의 버튼 디자인*/
.select{
	width:50%;
    margin-left:35%;
    margin-top: 20px;
    text-align:center;
}


.add_btn{
    margin-left:10px;
    margin-top:10px;
	border:none;
	background:#4CC4EE;
	color:#fff;
    font-weight: 400;
    font-size:15px;
	width:200px;
	height:35px;
	border-radius:5px;
}

.add_btn:hover{
    background-color: black;
    opacity:0.3;
}


#section>#menu {
    width:15%;
    height:400px;
    float:left;
    left:200px;
    margin:1%;
    text-align: center;
}

#menu>b{   
    font-size:18px;
    color : #424444;
    text-align: center;
}

#menu>#second_line {
    height: 3px;
    text-align: center;
    background-color:#4CC4EE;
    font-size:15px;
    font-weight: 500;
    color : #89867e;
    text-align: center;
    vertical-align: 7px;
}

#section>#contents {
    width:82%;
    height:770px;
    margin-left:18%;
    margin-top:2%;
    color : #424444;
/*    border: 1px solid lightgray;*/
}

.my_info{
    width:100%;
    font-size:15px;
    color : #89867e;
/*    border: 1px solid black;*/
}

/*�굹�쓽 �젙蹂� 蹂닿린 ���씠�� 湲��뵪*/
#contents>.my_info span{
    position:absolute;
    width:300px;
    font-size:20px;
    font-weight: 600;
    top:100px;
    margin-left:30px;
    margin-top:50px;
    color : #166BA3;
/*    border: 1px solid red;*/
}

.my_info_view{
     margin-top: 50px;
/*     border: 1px solid green;*/
}

my_info_view>.my_picture{
    float:left;
    position:absolute;
    width:100px;
}

.my_picture input{
    position:absolute;
    float:left;
    width:170px;
    height:300px;
    border: 0.5px solid #89867e;
    margin-left: 60px;
    vertical-align: text-bottom;
}

.my_info_view table{
     width:500px;
     margin-left:260px;
/*     border: 1px solid blue;*/
}

.my_info_view tr{
     height:35px;
}
.my_info_view td{
    width:90px;
}
.my_info_view input{
   height: 25px;
}

.change_leave {
      width:23%;
      height: 30px;
      margin-left:300px;
      margin-top:20px;
/*      border: 1px solid orange;*/
      vertical-align: center;
}

.add_btn{
    float:left;
    margin-top:0;
    margin-left:10px;
	border:none;
	background:#4CC4EE;
	color:#fff;
    font-weight: 400;
    font-size:15px;
	width:100px;
	border-radius:5px;
    text-align: center;
}

.add_btn:hover{
    background-color: black;
    opacity:0.3;
}

.my_proj {
   width:100%;
   height:330px;
   margin-top:30px;
   padding-top:10px;
   font-size:20px;
   font-weight: 600;
   border-top: 1px solid #4CC4EE;   
}

/*�궡 �봽濡쒖젥�듃 蹂닿린 ���씠�� 湲��뵪*/
.my_proj span{
    margin:40px;
    font-size:20px;
    font-weight: 600;
    color : #166BA3;
}

.my_proj_view {
    margin-top:30px;
    font-size:15px;
    color : #89867e;
/*    border: 1px solid red;  */
}

.ongoing span{
    margin-left:70px;
    font-size:16px;
    font-weight: 600;
    color : #89867e;
/*    border: 1px solid red; */
}

.ongoing>table{
    margin-left:100px;
    padding:5px;
    font-size:13px;
    font-weight: 400;
/*    border: 1px solid gray; */
}

.ongoing td{
    padding:0px;
    text-align: center;
    text-align: left;
}
.ongoing tr{
    padding:0px;
/*    border: 1px solid red; */
}

.finish span{
    margin-left:70px;
    font-size:16px;
    font-weight: 600;
    color : #89867e;
/*    border: 1px solid red; */
}

.finish table{
    margin-left:100px;
    font-size:13px;
    font-weight: 400;
/*    border: 1px solid gray; */
}

.add_btn2{
    float:left;
    margin-left:20px;
    margin-top:10px;
	border:none;
	background:#4CC4EE;
	color:#fff;
    font-weight: 400;
    font-size:13px;
	width:120px;
	height:25px;
	border-radius:5px;
}

.add_btn2:hover{
    background-color: black;
    opacity:0.3;
}


#footer {
    color:#89867e;
    clear:both;
    text-align:center;
    padding:5px;	 
    font-size:15px;
    
}