@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


body { 
	font-family: 'Lato', Calibri, Arial, sans-serif; 
 	color: #424444; 
 	background: #f9f9f9;
    padding: 0;
    margin: 0;
 } 

a { 
 	color: #f9f9f9; 
 	text-decoration: none; 
 } 

#bigwrap {
    width: 1200px;
 
    margin : 0px auto;
}

#header {
    text-align: left;
    height:140px;
    position:relative;
/*    border: 1px solid black;*/
}

#header a{
    position: absolute;
    bottom: 0px;
    margin-left:50px;
    margin-top: 0;
    top:67px;
    font-size: 60px;
    font-weight: 400;
    color: #4CC4EE;
/*    border: 1px solid black;*/
}

#header a:hover {
   color:#166BA3;
   opacity : 0.8;
}

#nav a {
    position: absolute;
    float:left;
    margin-top:60px;
    top:50px;
    right:30px;
    font-size : 20px;
    color :#89867e; 
}

#nav :hover {
   color: balck;
   opacity : 0.8;
   font-weight: 600;
}


#section {
    width : 1200px;
    margin : 0px auto;
}

/* 슬라이드 부분 */
#slider{
    overflow:hidden;
    position:relative;
    margin : 0px auto;
    width: 1200px;
}

.main_slider{
    position:relative;
    width:400%;
    margin-left:-200%;
}

.main_slider:after{
    content:"";
    display: block;
    clear: both;
}

.main_slider>img{
    float:left;
    width:25%;
}

.slider_control>span{
    display: block;
    width:3%;
    top:155px;
    opacity: 0.3;
    
}

.slider_control>span:first-child{
    position: absolute;
    left:2%;
/*    border: 0.5px solid #fff;*/
}

.slider_control>span:last-child{
    position: absolute;
    right:2%;
/*    border: 0.5px solid #fff;*/
}


/* 슬라이드 위의 글씨*/
.img-txt {
    position: absolute;
    top : 30%;
    width: 55%;
    left: 10%;
    text-align: left;
    font-size: 25px;
    font-weight: 200; 
    color: #f9f9f9;
}

.img-txt-small {
    position: absolute;
    top : 45%;
    width: 55%;
    left: 10%;
    text-align: left;
    font-size: 12px; 
    color: #f9f9f9;
}


/* ===== 부분 2 (아래의 4개 박스) ======*/\

#menu {
    position: relative;
    height: 200px;
}

/* 메뉴 전체 박스 적용*/
#box-wrap {
    width:100%;
    text-align: center;
    margin-top:100px; 
    margin-left: 6%;
/*    border: 1px solid black;*/
}

#box-wrap:after{
    content:"";
    clear:both;
    display: block;
}

#box-wrap>div:last-child{
    margin-right:0;
}


/* 메뉴 박스 세부 적용*/
.box {
    float:left;
    text-align: center;
    width : 200px;
    height: 200px;
    margin-right:7%;
    font-size: 19px;
    font-weight: 400;  
}

/* 메뉴 안의 내용*/
.box a {
    color:#f9f9f9;
   
    vertical-align: center;
    position: relative;
    display: block;
}


/* 각 메뉴에 마우스를 올리면*/
.box a:hover {
   background-color: black;
   opacity : 0.5;
}


/*가장 하단의 거성카피라이트!*/
#footer {
    clear:both;
    margin-top:100px;
    width:100%;
    height:20px;
    left: 50%;
    text-align: center;
    margin-bottom : 0px;
    font-size:13px;
/*    border:1px solid red;*/
}