
/* 전체를 감싸는 틀  */
.first_main{
	width:100%;
	text-align:center;
}

/* 타이틀 글씨 */ 
.first_main h2{
	padding-top:50px;
	padding-bottom:30px;
	color: #1591BE;	
	font-size:25px;
	font-weight:800;
	text-align: center;
	
}


.user {
	width:100%;
/* 	border: 1px solid red; */
	
}
.people:after{
	content:"";
	display:block;
	clear:both;
}

.people>div{
	float:left;
}
.people {
	margin-bottom:20px;
    margin-left:20%;
	border:1px solid #ccc;
	width:60%; 
	text-align:center;
}

.people> .state_work{
	padding : 10px 0 0 0;	
	color: #424444;
	font-size: 15px;
	text-align:left;
}

/* �̹��� */
.people> div> img{
width:100px;
height:100px;
}

/* a�±� */

/* �̸�  */
  /* 이미지에 대한 부분 */ 
.people > .state_work > a> p:nth-of-type(1){ 
    float:left;
	font-size: 20px;
	font-weight:bold;

}

/* �ؾ��� ��  */
/* 해야할 일 목록 글씨에 대한 부분 */ 
.people > .state_work> a> p:nth-of-type(2){ 
	float:left;
	font-size: 15px;
	padding-top:15px;
    padding-left:40px;  
    padding-bottom:10px;
   
    text-align: left;
 
}

.dowork_donework{
	padding-left : 70px;
	font-style: normal;
}

.name{
	font-weight: bold;
	font-size:18px;
}


/* �Ϸ��� �� ��  */
.people > .state_work> a> p:nth-of-type(3){ 
   float:left;
    font-size: 10px;
    padding-left:50px;  
    color: #424444;
    text-align: left;
}


/* 완료한 일 목록 글씨에 대한 부분 */ 
 .tag1 {
	font-size: 15px;
	text-align:left;
} 

/* 모달관련 */
 .modal_bg{
 	position:absolute;
	width:100%;
	height:100%;
	display:block;
	z-index:999;
	background-color:#000;
	opacity:0.3;
} 

.second_body1, .second_body2, .second_body3, .second_body4, .second_body5{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-245px;
	margin-top:-200px;
	z-index:9999;
}


.second_main{
 width : 450px;
 background : #fff;
 margin : 0 auto;
 padding:20px;
 border-radius:10px;
 font-size:18px;
 }

.showwork h3{
	padding-bottom:20px;
	color: #1591BE;	
	font-size:25px;
	font-weight:800;
	text-align: center;
}

.imgtest img{
	width:120px;
}

/* 모달 안의 타이틀 글씨  */
 .top{
  margin : 0 0 0 20;
 }
 
 .horizon{
 float : left;
 width : 80px;
 }
 div.p{
  margin : 0px 0px 0px 0px;
 }
 
 .second_main:after{
 content:'';
 display:block;
 clear : both;
 }
 
 .doit{
  margin : 0px 0px 0px 0px;
  padding : 0 0 0 80px;
 }
 
 .input{
  margin :0 0 0 20px;
 }

 .input2{
  margin : 0 0 0 20px;
 }
 
 
 .showwork{
 	border-bottom:2px solid #bdcfda;
 	padding:10px 5px;
 }
 .perform_title{
 	text-align:center;
 	font-size:1.3em;
 	margin:0 0 20px 0;
 }
 
.showwork:after{
	content:"";
	display:block;
	clear:both;
}

.showwork>div{
	float:left;
}

.now_work{
	margin:0 0 0 10px;
}

.now_work>p{
	font-size:1.2em;
	font-weight:bold;
	color:#555;
}

.now_work>ul{
	margin:0 0 0 15px;
	color:#555;
	font-size:11px;
}

.now_work>ul>li{
	
	width : 300px;
	line-height:120%
}

/* 지금까지 한일 */ 
.margin_item{
	display:block;
	margin:8px 0;
	font-weight: 600;
	font-size: 18px;
}

/* 완료한 일 */
.done_work p{
	 font-size: 15px;
}

.input_work{
	padding:20px 0 20px 30px;
	border-bottom:2px solid #bdcfda;
}

.input_work>input{
	vertical-align:middle;
}


.add_btn{
	border:none;
	background:#46c5f1;
	color:#fff;
	width:100px;
	height:30px;
	border-radius:10px;
	margin-left: 5px;
}

.add_btn2{
	border:none;
	background:#46c5f1;
	color:#fff;
	width:100px;
	height:30px;
	border-radius:10px;
}

.complet_work{
	padding:20px 0 20px 30px;
	vertical-align:middle;
}

.complet_work > .labelSize{
	
	width: 100px;
}

.complet_work:after{
	content:"";
	display:block;
	clear:both;
}

div >.checkwork{
	margin : 10px 0 0 0;
	font-size : 13px;
	width : 250px;
}



.checkwork>div>label{
	width:100px;
	display:inline-block;
	font-size:0.8em;
}

.complet_work{
	position:relative;
}

.complete_btn{
	border:none;
	background:#46c5f1;
	color:#fff;
	width:100px;
	height:30px;
	border-radius:10px;
	position:absolute;
	top:23px;
	right:20px;
}

