@CHARSET "UTF-8";

#studyroom_content img{
	width:300px;
	height:400px;
	border:1px solid green;
	
}

table {
   width: 100%;
   border-collapse: collapse;
   font-size: 18px; 
   line-height: 24px;
}
