@CHARSET "UTF-8";

#wrap{
	width: 1500px;
	height: 700px;
}

.table{
	border: #d3d3d3 solid 1px; 
	
	width: 530px;
	height: 200px;
}
#tr{
	width:190px;
	heigth: 140px;
	border: #d3d3d3 solid 1px; 
}

#td{
	width:150px;
	height: 140px; 
	border: #d3d3d3 solid 1px; 
} 

#tr2{
	width:150px;
	height: 60px; 
	border: #d3d3d3 solid 1px; 
}