@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);


body { 
	font-family: 'Lato', Calibri, Arial, sans-serif; 
 	color: #424444; 
 	background: #f9f9f9;
    padding: 0;
    margin: 0;
 } 


a { 
 	color: black; 
 	text-decoration: none; 
 } 
 
#header{
    width:100%;
    border-bottom:8px solid #4CC4EE;
}
#headerinner {
    color: #424444;
    font-size : 45px;
    margin : 0px auto;
    padding: 10px 0;
    width:1200px;
    height:80px;
    position:relative;
   
}
#headerinner>h2{
    position: absolute;
    top:10px;
    left:0;
    font-weight:bold;
}
#headerinner a{
    height: 20%;
    color: #4CC4EE;
    font-size : 50px;
}

#header a:hover {
   color:#166BA3;
   opacity : 0.8;
}

#nav  {
    position: absolute;
    top:77px;
    right:10px;
    font-size : 14px;
    color :#89867e; 
}

#nav a {
    font-size : 14px;
    color :#89867e; 
    word-spacing: 1.0em;
}

#nav a:hover {
   color:#166BA3;
   opacity : 0.8;
   font-weight: 600;
}

#section{
    width:1200px;
    height:820px;
    margin:20px auto;
/*    border: 1px solid red;*/
  }


#section>#menu {
    width:15%;
    height:400px;
    float:left;
    left:150px;
    margin:1%;
    text-align: center;
}

#menu>b{   
    font-size:20px;
    color : #424444;
    text-align: center;
}

#menu>a{
    font-size:17px;
    font-weight: 500;
    color : #89867e;
    text-align: center;
    vertical-align: 7px;
}

#menu a:hover {
   color:#166BA3;
   font-weight: 600;
}

#menu>#second_line {
    height: 3px;
    text-align: center;
    background-color:#E99323;
}

#section>#contents {
    width:900px;
    height:780px;
    margin-left:18%;
    margin-top:2%;
    color : #424444;
   /*  border: 1px solid lightgray; */
}

#section>#contents h1{
	text-align:center;
  }
	

#footer {
    color:#89867e;
    clear:both;
    text-align:center;
    padding:5px;	 
    font-size:15px;
    
} 