
#container{
   width:970px;
   height:1200px;
}

#containerheader span{
   width:
   font-size:24px;
   color:purple;
   font-weight:bold;
   border-bottom:3px solid red;
}

.menu {
   width: 930px;
   height:100px;
   border: 1px solid black;
   padding: 10px;
   margin:20px;
}

#category_1{
   width: 870px;
   height:50px;
   padding:20px;   
   border: 1px solid black;
   float:left;
   
}
.menutable{
   width:840px;
   height:50px;
}

#menutr{
   height: 150px;
   width: 300px;   
}

#menutd_3{
 width: 80px;   
}


.menu2{
   width: 930px;
   height:45px;
   border: 1px solid black;
   padding: 10px;
   margin:20px;
}

.console{   
   width: 900px;
   height:25px;
   border: 1px solid black;
   padding: 20px;  
   margin:20px; 
  
}




.contents{
	width:970px;
	list-style: none;
	border:1px solid #d3d3d3 ; 
	background:#ddd;
	margin:20px;
}


.contents>li{
	float:left;
	width:260px;
	height:200px;
	background:#ccc;
}





table td,th {
   border: #d3d3d3 solid 1px;
   padding: 5px; 안쪽 여백
}

#tdsubmit{
   widht:100px;
   height: 30px;
   float: right;
}

table {
   width: 100%;
   border-collapse: collapse;
   font-size: 12px; 
   line-height: 24px;
}

a {
   text-decoration: none; 
   color: black; 
}
h1 {
   color: green;
}



th {
   background: yellowgreen; 
}

img {
   width: 220px; 
   height: 300px;
}



#td1{
   width: 300px;
   height: 160px;
}

#td1_1{
   width: 300px;
   height: 60px;
}
